/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
:where(html) {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Set core body defaults */
:where(body) {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #ddd5d5;
    font-family: system-ui, sans-serif;
}

/* Remove list styles */
:where(li, ol, ul) {
    list-style: none;
}
