nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: inherit;
    padding: 1rem;
}

button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    margin-left: auto;
    padding: 1em;
}

li {
    margin-right: 1rem;
    margin-left: 1rem;
}

a {
    cursor: pointer;
    padding-bottom: 10px;
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(#000 0 0);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    &:hover {
        background-position: 0 100%;
        background-size: 100% 3px;
    }
    span {
        margin-left: 0.2rem;
    }
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1;
    display: none;
}

/* DECREASE WIDTH SIZE BEFORE PUSH */
@media only screen and (max-width: 600px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 2;
        border-left: 1px solid #272832;
        transition: right 300ms ease-in-out;
        background-color: var(--background-color);
    }
    button {
        position: sticky;
        display: block;
        z-index: 3;
    }
    ul {
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
    }
    li {
        padding: 0.2rem;
    }
    a {
        all: unset;
        padding-bottom: 5px;
        display: flex;
        cursor: pointer;
    }
    nav.show {
        right: 0;
    }
    nav.show ~ #overlay {
        display: block;
    }
}
