header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

    button {
        display: none;
    }

    li {
        display: inline-block;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    a {
        padding-bottom: 10px;
        text-decoration: none;
        color: inherit;
        background-image: linear-gradient(#000 0 0);
        background-position: 0 100%;
        background-size: 0 2px;
        background-repeat: no-repeat;
        transition:
            background-size 0.3s,
            background-position 0s 0.3s;
        &:hover {
            background-position: 0 100%;
            background-size: 100% 3px;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button {
            display: inherit;
        }
        .mobile-close {
            display: none;
        }
        .mobile-open {
            display: flex;
            flex-direction: column;
        }
        a {
            padding-bottom: 5px;
        }
    }
}
