header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    height: 80px;

    li {
        display: inline-block;
        margin-right: 1rem;
        margin-left: 1rem;
        text-decoration: none;
    }
}
